<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <iframe src="https://embeds.beehiiv.com/9c8cd11c-fdf1-4174-852f-5a869c03ee31" data-test-id="beehiiv-embed" width="100%" height="320" frameborder="0" scrolling="no" style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;"></iframe>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
<script async data-id="101444988" src="//static.getclicky.com/js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101444988ns.gif" /></p></noscript>